<!doctype html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h2></h2>
      <!-- Logged-out header to display only logo
      Login and Register buttons to be in body of index page -->
      <a href="/profile">Profile</a>
      <a href="/to-do">To-Do's</a>
      <img class="logo" src="../../public/images/to_do.png">
  </body>
</html>
