<nav class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <span class="navbar-nav">
			<a class="navbar-logo" href="#"><img .img-responsive alt="to_do" src="images/to_do.png" class="img-responsive" width="100px" height="60px"/></a>
    </span>
  </div>
</nav>
