<header class="myHeader">
	<span>
    <a id="logout" href="/logout">Log out</a>
    <img id="logo" src="/images/to_do.png">
    <a id="profile" href="/profile">Profile<a>
	</span>
</header>

<!-- You need this element to prevent the content of the page from jumping up -->
<div class="header-fixed-placeholder"></div>
