<nav id="#mynav>
  <span class="navspan">
    <span>
      <img id="logo" src="/images/to_do.png">
    </span>
      <button id="profile">Profile</button>
      <button id="logout">Log out</button>
  </span>
</nav>
