<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>to‿do - Decisions shouldn't make you go (╯°□°）╯︵ ┻━┻</title>
    <!--  TEST COMMENT GIT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/carousel.css">
  </head>
  <body>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="/images/books.jpg" alt="To read">
          <div class="carousel-caption">
            <h3>Books</h3>
            <p>Recommended reading at moment's notice, courtesy of Past You</p>
          </div>
        </div>

        <div class="item">
          <img src="/images/restaurant.jpg" alt="To eat">
          <div class="carousel-caption">
            <h3>Restaurants</h3>
            <p>No need to worry about remembering the name of that cool new bistro you wanted to try</p>
          </div>
        </div>

        <div class="item">
          <img src="/images/movies.jpg" alt="To watch">
          <div class="carousel-caption">
            <h3>Films and TV</h3>
            <p>You've already decided what sounds good; just check your list and relax</p>
          </div>
        </div>

      <div class="item">
        <img src="/images/shopping.jpg" alt="To buy">
        <div class="carousel-caption">
          <h3>Shopping</h3>
          <p>The only shopping list you'll ever need to keep</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="x">
    <img src="/images/to_do.png" height="65px" width="100px">
    <p>Never feel at a loss for options again.</p>
    <p>
      
      <container>
  <form method="POST" >
     
          <input class="email" type="text" name="email">
          <label for="email">Email</label>
        </div>
      </div>
      
        <div class="x">
          <input class="password" type="password" name="password">
          <label for="password">Password</label>
        </div>
      </div>
      <button class="x" type="submit" formaction="/users/login">login</button>
      <button class="x" type="submit" formaction="/users/register">register</button>
  </form>
</container>

    </p>

  <%- include partials/_footer %>
  </div>

  </body>
</html>
