<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>to‿do - My list</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/carousel.css">
</head>
  <body>
    <%- include partials/_header %>

  <div class="container col-sm-6 text-center">
    <img src="/images/to_do.png" height="65px" width="100px">
      <form method="POST" action="/login">
        <input type="text" name="email" placeholder="E-mail address">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Log in">
  <%- include partials/_footer %>
  </div>

  </body>
</html>
