<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>to‿do - My list</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/carousel.css">
</head>
  <body>
      
      <%- include partials/_header %>
      <div class="container col-sm-6 text-center">
        <img src="/images/to_do.png" height="65px" width="100px">
        <p>Never feel out of options again.</p>

      <input id="email" type="text" name="email" value='<%= user_email %>' style="width: 300px" required><label>Email Address</label>
      <input id="password" type="password" name="password" placeholder="******" style="width: 300px" required><label>Password</label>
      <button class="x" type="submit" formaction="/users/profile">update</button>
    </form>
  </body>
</html>


  