<!DOCTYPE html>
<head>
      <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
<p id="addTask"> <b><u> Tasks </u></b> </p>
<input type='text' id='inputTask'/>
<input type='button' onclick='makeTodo()' value='Add To List'/>
