<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>to‿do - My list</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



  <script type="text/javascript" src="/scripts/app.js"></script>

  <link rel="stylesheet" href="/styles/layout.css">
  <!-- <link rel="stylesheet" href="/styles/carousel.css"> -->
</head>
  <body>
    <h1>Welcome to my Page</h1><br>
    <input type="text" id="testtask" width="30" />
    <input type="button" id="testbutton" value ="Try it" />


  </body>
</html>
