
/* Header styling */
.myHeader {
	background-color:#171219;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	box-sizing: border-box;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

#logo {
  height: 60px;
  width: 100px;
}

#visitorlogo {
  height: 60px;
  width: 100px;
}

body.fixed .myHeader {
	padding: 10px 40px;
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

body.fixed .myHeader-placeholder {
	display: block;
}

/* Making the header responsive */

@media all and (max-width: 600px) {

	.myHeader {
		padding: 20px 0;
		height: 75px;
	}

	.myHeader .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.myHeader .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.myHeader .header-limiter nav a {
		font-size: 13px;
	}

	body.fixed .myHeader {
		display: none;
	}
}
